header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}
.header_top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.adminProfileSection,
.adminLoginAndSignupSection {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.greeting {
  width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
:where(.admin-login, .admin-sign-up).hide {
  display: none;
}
.header_middle_section {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header_bottom-section {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header_bottom-section > * {
  width: max-content;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.header_bottom-section > *.active {
  background-color: var(--secondary-accent);
}
[class$='tab-nav'] * {
  pointer-events: none;
}
.header_bottom-section img {
  height: 20px;
}
.admin-dashboard_tab-nav,
.loaner-management_tab-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* Fix display of the admin dashboard layout */
main {
  display: block;
}
.content-holder {
  flex: 1;
}

.admin-dashboard-content {
  flex-direction: column;
  gap: 40px;
}
.dashboard-borrower-section {
  background: var(--secondary-accent-faint);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;

  & > * {
    flex: 1;
    min-width: 310px;
    padding: 20px;
  }
}
.dashboard-borrower-section-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.dashboard-borrower-section-left-side-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard-borrower-link {
  padding: 10px;
  background-color: var(--ink);
  border-radius: 5px;
  width: fit-content;
}
.dashboard-borrower-section-right-side img {
  height: 300px;
}

.overview-metric-information-section {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

[class$='loan-section'] {
  background: linear-gradient(var(--transparent-black), var(--ink));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 180px;

  & h5 {
    color: var(--white);
    font-weight: 100;
  }

  & h2 {
    color: var(--transparent-white);
  }
}
[class$='title-section'] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

[class$='title-section'] img {
  height: 50px;
}

/* loaner management content styles */

.loan-management-content {
  flex-direction: column;
  gap: 15px;
  overflow: auto;
}
.filter-section,
.loan-list-section {
  padding: 20px;
}
.filter-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.search-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

select[name='borrower-search-status'],
input[type='search'] {
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
input[type='search'] {
  padding-left: 10px;
  height: 40px;
  flex: 1;
  max-width: 300px;
}

select[name='borrower-search-status'] {
  padding: 6px;
}

.loan-list-section {
  box-shadow: var(--box-shadow);
  /* overflow-y: auto; */
}
caption {
  text-align: left;
  padding-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

tbody tr {
  border-top: 0.5px solid var(--grey);
  border-bottom: 0.5px solid var(--grey);
}
thead {
  background-color: var(--secondary-accent-faint);
}
th,
td {
  padding: 15px;
}
td {
  color: var(--transparent-black);
}

.loan-list-section_actions {
  display: flex;
  align-items: center;
  gap: 5px;
}
.loan-list-section-icon {
  height: 15px;
}
