header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}
.header_top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.adminProfileSection,
.adminLoginAndSignupSection {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.greeting {
  width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
:where(.admin-login, .admin-sign-up).hide {
  display: none;
}
.admin-profile {
  height: var(--profile-dim);
  width: var(--profile-dim);
  background: linear-gradient(var(--primary-accent), var(--dark-yellow));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_middle_section {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header_bottom-section {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header_bottom-section > * {
  width: max-content;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.header_bottom-section > *.active {
  background-color: var(--secondary-accent);
}
[class$='tab-nav'] * {
  pointer-events: none;
}
.header_bottom-section img {
  height: 20px;
}
.admin-dashboard_tab-nav,
.loaner-management_tab-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-section {
  padding-top: 50px;
}
.content-section > * {
  display: none;
}
.content-section > *.active {
  display: flex;
}
.admin-dashboard-content {
  flex-direction: column;
  gap: 40px;
}
.register-borrower-section {
  background: var(--secondary-accent-faint);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  & > * {
    flex: 1;
    min-width: 310px;
    padding: 20px;
  }
}
.register-borrower-section-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.register-borrower-section-left-side-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register-borrower-link {
  padding: 10px;
  background-color: var(--ink);
  border-radius: 5px;
  width: fit-content;
}
.register-borrower-section-right-side img {
  height: 300px;
}
.image-circle {
  position: absolute;
  right: -172px;
  bottom: -190px;
  opacity: 0.2;
}
.overview-metric-information-section {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

[class$='loan-section'] {
  background: linear-gradient(var(--transparent-black), var(--ink));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 180px;

  & h5 {
    color: var(--white);
    font-weight: 100;
  }

  & h2 {
    color: var(--transparent-white);
  }
}
[class$='title-section'] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

[class$='title-section'] img {
  height: 50px;
}
.dialog-logout-section h4 {
  color: var(--white);
  font-weight: 400;
  text-align: center;
}
.dialog-logout-section button {
  min-width: 120px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 5px;
  letter-spacing: 3px;
}
.btn-cancel {
  background-color: var(--ink);
  border: 1px solid var(--white);
  color: var(--white);
}
.btn-yes {
  background-color: var(--warning);
  color: var(--white);
  border: none;
}
