header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}
.header_top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.adminProfileSection,
.adminLoginAndSignupSection {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.greeting {
  width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
:where(.admin-login, .admin-sign-up).hide {
  display: none;
}
.header_middle_section {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header_bottom-section {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header_bottom-section > * {
  width: max-content;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.header_bottom-section > *.active {
  background-color: var(--secondary-accent);
}
[class$='tab-nav'] * {
  pointer-events: none;
}
.header_bottom-section img {
  height: 20px;
}
.admin-dashboard_tab-nav,
.loaner-management_tab-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* Fix display of the admin dashboard layout */
main {
  display: block;
}
.content-holder {
  flex: 1;
}
