.left-side-bar {
  max-width: 300px;
}
.content-holder {
  flex: 200px;
}
main {
  background-color: rgb(165, 141, 141);
  /* justify-content: none; */
}
input.user-interact:is(:valid, :invalid) {
  border-color: transparent;
}
form.loan-application-form {
  max-width: 1150px;
}

legend {
  padding: 5px;
  letter-spacing: 2px;
  background: linear-gradient(var(--primary-accent), var(--grey)) text;
  font-weight: 600;
  color: transparent;
}
select {
  appearance: none;
}
textarea {
  resize: none;
}

.btn-submit-application {
  padding: 8px 25px;
  border-radius: 5px;
  background: var(--ink);
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: var(--box-shadow-transparent);
  cursor: pointer;
}
