main {
  position: relative;
}
.left-side-bar {
  position: sticky;
  top: 30px;
  max-width: 300px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 20px;
  height: 80vh;
}
.content-holder {
  flex: 200px;
  padding: 40px 0 0 20px;
}
.balance-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: linear-gradient(var(--secondary-accent-faint) 10%, var(--transparent-white));
  padding: 30px;
  border-radius: 20px;
}
.naira-currency {
  color: var(--transparent-black);
}
.balance {
  font-weight: 900;
  font-size: var(--fs-lg);
}
.deposit-and-withdrawal-section {
  padding: 30px;
  display: flex;
  gap: 20px;
  & > * {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: none;
    padding: 8px 12px;
    color: var(--white);
  }
}
.btn-deposit {
  background: var(--clr-valid);
}
.btn-withdrawal {
  background: var(--transparent-black);
}
.bottom-left-sidebar {
  padding-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > * {
    display: flex;
    gap: 10px;
    transition: 300ms;
  }
  & > *:hover {
    background-color: var(--secondary-accent-faint);
    border-radius: 5px;
    padding: 5px 8px;
  }
}

.icon {
  width: 20px;
}
input.user-interact:is(:valid, :invalid) {
  border-color: transparent;
}
form.loan-application-form {
  max-width: 1150px;
}

[data-content-key],
.logout-button {
  cursor: pointer;
}

legend {
  padding: 5px;
  letter-spacing: 2px;
  background: linear-gradient(var(--primary-accent), var(--grey)) text;
  font-weight: 600;
  color: transparent;
}
select {
  appearance: none;
}
textarea {
  resize: none;
}

.btn-submit-application,
.btn-submit-withdrawal {
  padding: 8px 25px;
  border-radius: 5px;
  background: var(--ink);
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: var(--box-shadow-transparent);
  cursor: pointer;
}
