input.user-interact:is(:valid, :invalid) {
  border-color: transparent;
}
form {
  min-width: min(1000px, 98%);
}

legend {
  padding: 5px;
  letter-spacing: 2px;
  color: var(--ink);
}
select {
  appearance: none;
}
textarea {
  resize: none;
}
:is(.company-or-business-name, .monthly-income, .current-job-year).hide {
  display: none;
}
.btn-submit-application {
  padding: 8px 25px;
  border-radius: 5px;
  background: var(--ink);
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: var(--box-shadow-transparent);
  cursor: pointer;
}
