:root {
  --primary-accent: #0f766e;
  --secondary-accent: #c5efe1;
  --secondary-accent-faint: #f1fffb;
  --dark-yellow: #866c05;
  --ink: #0b1f2a;
  --black: #000;
  --white: #fff;
  --grey: #666;
  --transparent-black: rgba(0 0 0 / 0.8);
  --transparent-white: rgba(255 255 255 / 0.4);
  --warning: rgb(189, 24, 24);

  --box-shadow: 0 0 3px rgba(0 0 0 / 0.2);
  --profile-dim: 30px;
}

body,
html {
  height: 100%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 1rem + 0.03vw, 1.05rem);
}
.container {
  padding-top: 30px;
  width: min(90%, 1200px);
  margin: 0 auto 0;
}

.navigation-section {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.navigation-section ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}
.logo-section img {
  height: 50px;
}
a {
  text-decoration: none;
  color: var(--dark-yellow);
}
p {
  max-width: 50ch;
}
:focus {
  outline: none;
}
dialog {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  backdrop-filter: blur(8px);
}
dialog {
  transition: 200ms;
  transition-behavior: allow-discrete;
}
dialog > * {
  transition: 150ms;
  transform: scale(0);
  background: var(--transparent-black);
  width: 100%;
  max-width: 310px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  padding: 40px 30px;
}
dialog:open > * {
  transform: scale(1);
  transition: 300ms;
}
@starting-style {
  dialog:open > * {
    transform: scale(0);
  }
}
button,
a {
  transition: 300ms;
}
:where(button, a):active {
  transform: scale(0.8);
}
:where(button, a):hover {
  opacity: 0.8;
}
