.proof-of-payment {
  background-color: var(--white);
  border-radius: 10px;
  /* padding: 20px; */
}
.proof-payment-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  background: var(--primary-accent);
}
.close-btn {
  background: none;
  border: none;
  color: var(--white);
  font-weight: 900;
}
