form {
  min-width: min(1000px, 98%);
}
fieldset.field-section {
  border: 1px solid var(--grey);
  padding: 20px 20px 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
legend {
  padding: 5px;
  letter-spacing: 2px;
  color: var(--ink);
}
select {
  appearance: none;
}
option[value='null'] {
  color: var(--grey);
}
.btn-validate {
  max-width: 120px;
  padding: 8px 25px;
  border-radius: 5px;
  background: var(--ink);
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: var(--box-shadow-transparent);
  cursor: pointer;
  margin-top: 45px;
}
